<section>
    <%for(let x=0; x<games.length; x++){%>
    <section class = "box-section game-box">
        <button class = "box-button game-button" name="<%=games[x].name%>" id="<%=games[x].id%>"><%=games[x].name%></button>
    </section>
    <%}%>
    <section id = "new-game" class = "box-section">
        <form class="form" id="create-game-form" action="/games/create" method="POST">
            <p class="center-form"><input type="submit" value="Create New Game" class="submit-button" id="create-game-button"></p>
        </form>
        <form class="form" id="join-game-form" action="/games/join/<%=user.id%>" method="POST">
            Game Id: <input type="text" name="gameId" class="form-input">
            <p class="center-form"><input type="submit" value="Join New Game By Id" class="submit-button" id="join-game-button"></p>
        </form>
    </section>
</section>