<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aozora</title>
    <!-- FONTS -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Oswald&display=swap" rel="stylesheet">
    <!-- STYLES -->
    <link rel="stylesheet" href="/styles/main.css">
    <!-- JQUERY -->
    <script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
    <!-- FONT AWESOME -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w==" crossorigin="anonymous" />
    <!-- SCRIPTS -->
    <script src="/scripts/main.js" defer></script>
</head>

<body>
    <!-- NAV BAR -->
    <nav>
        <section id="top">
            <section id="left">
                <i id="edit-title" class="fas fa-edit"></i>
                <section id="shadow-hide">
                    <p id="title">Aozora</p>
                    <form id="title-form" action="/game/<%=game.id%>/name" method="POST">
                        <input id="game-name-input" type="text" name="name" class="invisible">
                    </form>
                </section>
            </section>
            <section id="right">
                <section class="nav-buttons invisible" id="login-buttons">
                    <button class="nav-button login-button" id="login-button">
                        Log In
                    </button>
                    <button class="nav-button login-button" id="register-button">
                        Register
                    </button>
                </section>
                <section class="nav-buttons invisible" id="main-buttons">
                    <button class="nav-button login-button" id="games-button">
                        Games
                    </button>
                    <button class="nav-button login-button" id="account-button">
                        Account
                    </button>
                    <button class="nav-button login-button" id="logout-button">
                        Logout
                    </button>
                </section>
            </section>
        </section>
        <section id="bottom">
            <section id="bottom-left"
                <%if(game){%>
                    <%for(let x=0; x<game.gamemasters.length; x++){%>
                        <%console.log(game.gamemasters[x])%>
                        <%console.log(user.id)%>
                        <%if(game.gamemasters[x]!=user.id){%>
                            class = "true-invisible"
                        <%}%>
                    <%}%>
                <%}%> 
                >
                <section id="slide-bar">
                </section>
                <section id="nav-buttons" class="nav-buttons">
                    <button class="nav-button" id="story-button">
                        Story
                    </button>
                    <button class="nav-button" id="files-button">
                        Files
                    </button>
                    <button class="nav-button" id="players-button">
                        Players
                    </button>
                </section>
            </section>
        </section>
    </nav>
    <!-- MAIN BODY -->
    <section class="center-container" id="register">
        <form class="form" id="registration-form" action="/register" method="POST">
            <p class="center-form form-title">Register</p>
            <p class="right-form">Username: <input type="text" name="username" class="form-input"></p>
            <p class="right-form">Password: <input type="password" name="password" class="form-input"></p>
            <p class="center-form"><input type="submit" value="Register" class="submit-button"></p>
        </form>
    </section>
    <section class="center-container" id="login">
        <form class="form" id="login-form" action="/login" method="POST">
            <p class="center-form form-title">Login</p>
            <p class="right-form">Username: <input type="text" name="username" class="form-input"></p>
            <p class="right-form">Password: <input type="password" name="password" class="form-input"></p>
            <p class="center-form"><input type="submit" value="Login" class="submit-button"></p>
        </form>
    </section>
    <section class="center-container" id="account">
        <section id="account-box" class="box">
        </section>
    </section>
    <section class="center-container" id="games">
        <section id="games-box" class="box">
        </section>
    </section>
    <section class="center-container" id="story">
        <section id="story-box" class="box">
        </section>
    </section>
    <section class="center-container" id="files">
        <section id="files-box" class="box">
        </section>
    </section>
    <section class="center-container" id="players">
        <section id="players-box" class="box">
        </section>
    </section>
    <%- include('variableProcessor.ejs')%>
</body>

</html>