<section id="avatar-box">
        <img id="account-avatar" src=<%=`https://aozora.s3.us-east-2.amazonaws.com/${user.username}.png`%>>
        <form id="avatar-upload-form" class="mt-4" action="/profile/avatar" method="POST" enctype="multipart/form-data">
            <div class="form-group">
                <input type="file" name="file" id="input-files" class="form-control-file border"/>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    <%=user.username%>
</section>
<section id="user-info">
    <p>PLACEHOLDER TEXT</p>
</section>