* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: 1000ms;
}

a {
    text-decoration: none;
    color: white;
}

html, body {
    background: rgb(1, 78, 112);
    background: radial-gradient(at top, rgba(1, 78, 112, 1) 0%, rgba(20, 26, 50, 1) 100%);
    height: 100%;
    overflow: hidden;
    font-family: 'Oswald', sans-serif;
    color: white;
}

/* NAVBAR */
#edit-title {
    font-size: 15px;
    position: absolute;
    z-index: 3;
    padding: 10px;
}

nav {
    height: 80px;
    display: flex;
    flex-direction: column;
}

#top {
    height: 50%;
    display: flex;
    background: #014E70;
    box-shadow: 0px 0px 5px 1px black;
}

#bottom {
    height: 50%;
    display: flex;
}

#left {
    display: flex;
    align-items: center;
    width: 50%;
    font-size: 27px;
}

/* This is to hide the shadow from #slide-bar */
#shadow-hide {
    position: absolute;
    background: #014E70;
    min-width: 277px;
    width: 41%;
    height: 40px;
    z-index: 1;
}

#title {
    padding-left: 10px;
}

#title-form {
    padding-left: 35px;
    height: 100%;
}

#game-name-input {
    font-size: 27px;
    background: none;
    border: none;
    color: white;
    font-family: 'Oswald', sans-serif;
    width: 100%;
    outline: none;
}

#title-form:focus-within {
    background-color: #01628b;
}

#slide-bar {
    content: "";
    background-color: #05384e;
    min-width: 260px;
    width: 40%;
    height: 40px;
    position: absolute;
    transform: translateX(-150%) skew(-40deg, 0deg);
    box-shadow: 3px 2px 5px 0px black;
}

#nav-buttons {
    height: 40px;
    width: 30%;
    background-color: #05384e;
    position: absolute;
    padding-left: 3px;
    z-index: 1;
    transform: translateX(-200%);
}

.nav-buttons {
    height: 100%;
    display: flex;
    align-content: center;
}

#main-buttons {
    justify-content: flex-end;
}

.nav-button {
    background: transparent;
    outline: none;
    border: none;
    cursor: pointer;
    text-decoration: none;
    padding-left: 8px;
    padding-right: 8px;
    color: white;
}

#right {
    width: 50%;
    padding-right: 10px;
}

#login-buttons {
    justify-content: flex-end;
}

/* MAIN BODY */
.center-container {
    height: calc(100vh - 40px);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    /* This is to account for the bottom part of the navbar - Needs to be in the below transitions */
    transform: translateY(-40px);
}

#login {
    transform: translate(-100%, -40px);
}

#register {
    transform: translateY(calc(100% - 40px));
}

#account {
    transform: translateY(calc(200% - 40px));
}

#games {
    transform: translate(200%, -40px);
}

#story {
    transform: translate(-100%, -40px);
}

#files {
    transform: translate(200%, -40px);
}

#players {
    transform: translateY(calc(100% - 40px));
}

#characters {
    transform: translateY(calc(100% - 40px));
}

.box {
    background-color: #1E2747;
    box-shadow: 0px 0px 5px #03A9F4;
}


/* Profile */
#account-box {
    border: solid 1px;
    width: 40%;
    height: 60%;
}

#account-avatar {
    max-height: 200px;
    max-width: 200px;
}

#avatar-upload-form {
    display: none;
}

#avatar-box{
    display: flex;
    align-items: center;
    background-color:rgba(1, 78, 112, 1);
    padding-bottom: 20px;
    border-bottom: solid 1px white;
}

#account-avatar{
    margin-left: 20px;
    margin-top: 20px;
    border: solid 1px;
}

#username-section{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    font-size: 50px;
}

#user-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

#user-submit{
    margin: 30px;
}
#name-section-other{
    padding-top: 40px;
    font-size: 25px;
}
#bio-section-other{
    padding: 20px;
    font-size: 18px
}
#name-section{
    padding: 30px;
}

#bio-section{
    padding-left: 30px;
}

#profile-name, #profile-bio{
    vertical-align: top;
}


/* GAMES */
#files-box{
    margin-top: 40px;
    width: 50%;
    max-height: 85%;
    display: flex;
    flex-direction: column;
    overflow: hidden; 
}
#files-box-box{
    border: solid 1px;
    display: flex;
    justify-content: center;
    padding: 10px;
    padding-bottom: 20px;
}
.files-box-box-box{
    width: 50%;
}

#games-box, #story-box{
    width: 60%;
    max-height: 80%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}
.box-content {
    overflow-y: auto;
}

.box-title {
    font-size: 30px;
    border: solid 1px;
    padding-left: 10px;
    background-color: #014E70;
    box-shadow: 0px 0px 5px #03A9F4;
}
.box-title-half {
    font-size: 24px;
    border: solid 1px;
    padding-left: 10px;
    background-color: #05384e;
    box-shadow: 0px 0px 5px #03A9F4;
    width: 100%;
}

.box-section {
    padding: 10px;
    border: solid 1px;
    box-shadow: 0px 0px 5px #03A9F4;
}

.box-button {
    background: none;
    border: none;
    color: white;
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.box-button:hover {
    cursor: pointer;
}

.player-box{
    display: flex;
    align-items: center;
    border: solid 1px;
    padding: 10px;
    margin: 10px;
    background-color: #014E70;
}

.player-avatar{
    max-height: 50px;
    max-width: 50px;
    padding-right: 10px;
}

.game-title{
    font-size: 28px;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.delete-message{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.delete-text{
    font-size: 30px;
}

.delete-buttons{
    display: flex;
    justify-content: space-between;
}

#yes-button, #no-button{
    background: #014E70;
    border: solid 1px;
    color: white;
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
    width: 50px;
    margin: 5px;
}

.chapter-box{
    font-size: 25px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.chapter-button{
    width: 100%;
}
.chapter-delete-button{
    cursor: pointer;
}

#new-game, #new-chapter, #upload-files{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 20px;
}

#files-list-box{
    display: flex;
}

.half-box{
    width: 50%;
    height: calc(100vh - 450px);
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.fill{
    border: solid 1px;
    box-shadow: 0px 0px 5px #03A9F4;
    flex: 1;
}

.left-border{
    border-left: solid 1px;
}

.right-border{
    border-right: solid 1px;
}

.image-display{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 225px;
    width: 400px;
    margin-bottom: 5px;
}

.image-section{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.gamemaster-section, .player-section{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.gamemaster-section-2, .player-section-2{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.music-play, .image-name-section{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.image-name-section{
    width: 100%;
}

#players-box{
    width: 30%;
}

.player-title{
    font-size: 20px;
    background-color:#014E70;
}

.player-buttons{
    display: flex;
    flex-direction: row;
}

.player-edit-button{
    padding-left: 10px;
}

/* FORMS */
.form {
    background-color: #1E2747;
    padding: 10px;
    border: solid 1px;
    box-shadow: 0px 0px 5px #03A9F4;
}

#file-upload-form{
    padding-left: 50px;
}

.form-input {
    color: #606060;
    border-color: #03A9F4;
    border-radius: 4px;
}

.form-input:focus {
    outline-color: rgb(83, 189, 224);
    color: rgb(83, 189, 224);
}

.submit-button {
    background-color: #03A9F4;
    border: none;
    border-radius: 4px;
    box-shadow: 0px 0px 10px #03A9F4;
    color: white;
    padding: 3px;
    margin-top: 10px;
}

.form-title {
    text-shadow: 0px 0px 10px #03A9F4;
}

.center-form {
    text-align: center;
}

.right-form {
    text-align: right;
}

/* Special Classes */
.invisible {
    display: none;
    visibility: hidden;
    transition: 0ms;
}

.resize-animation-stopper * {
    animation: none !important;
    transition: none !important;
}

.true-invisible{
    display: none;
}

/* FONT CLASSES */
.oswald{
    font-family: 'Oswald', sans-serif;
}
.noto-sans-jp{
    font-family: 'Noto Sans JP', sans-serif;
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}