*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: 1000ms;
}

html, body{
    background: rgb(1,78,112);
    background: radial-gradient(at top, rgba(1,78,112,1) 0%, rgba(20,26,50,1) 100%);
    height: 100%;
    overflow: hidden;
    font-family: 'Oswald', sans-serif;
    color: 	white;
}

/* NAVBAR */
nav{
    height: 80px;
    display: flex;
    flex-direction: column;
}

#top{
    height: 50%;
    display: flex;
    background:#014E70;
    box-shadow: 0px 0px 5px 1px black;
}

#bottom{
    height: 50%;
    display: flex;
}

#left{
    width: 50%;
    font-size: 27px;
}

/* This is to hide the shadow from #slide-bar */
#shadow-hide{
    position: absolute;
    background: #014E70;
    width: 50%;
    height: 40px;
    position: absolute;
    z-index: 1;
}

#aozora{
    padding-left: 10px;
}

#slide-bar{
    content: "";
    background-color:#05384e;
    width: 40%;
    height: 40px;
    position: absolute;
    transform: translateX(-150%) skew(-40deg, 0deg);
    box-shadow: 3px 2px 5px 0px black;
}

#nav-buttons{
    height: 40px;
    width: 30%;
    background-color:#05384e;
    position: absolute;
    padding-left: 3px;
    z-index: 1;
    transform: translateX(-200%);
}

.nav-buttons{
    height: 100%;
    display: flex;
    align-content: center;
}

#home-buttons{
    justify-content: flex-end;
}

.nav-button{
    background: transparent;
    outline:none;
    border: none;
    cursor: pointer;
    text-decoration: none;
    padding-left: 8px;
    padding-right: 8px;
    color: 	white;
}

.login-button{
    color: white;
}

#right{
    width: 50%;
    padding-right: 10px;
}

#login-buttons{
    justify-content: flex-end;
}

/* MAIN BODY */
.center-container{
    height: 85vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
}

#login{
    transform: translateX(-100%);
}

#register{
    transform: translateY(100%);
}

/* FORMS */
.form{
    background-color: #1E2747;
    padding: 10px;
    border: solid 1px;
    box-shadow: 0px 0px 5px #03A9F4;
}

.form-input{
    color: 	#606060;
    border-color:#03A9F4;
    border-radius: 4px;
}

.form-input:focus{
    outline-color:rgb(83, 189, 224);
    color:rgb(83, 189, 224);
}

.submit-button{
    background-color: #03A9F4;
    border: none;
    border-radius: 4px;
    box-shadow: 0px 0px 10px #03A9F4;
    color: white;
    padding: 3px;
    margin-top: 10px;
}

.form-title{
    text-shadow: 0px 0px 10px #03A9F4;
}

.center-form{
    text-align: center;
}

.right-form{
    text-align: right;
}


.invisible{
    display: none;
}