*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
  background-image: url('https://i.imgur.com/l3r8Aum.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  backdrop-filter: blur(5px);
  min-height: 100vh;
  overflow:hidden;
  transition: background-image 0.2s ease-in-out;
  display: flex;
}